{
    "include": [
        "src/lib/**/*.js"
    ],
    "exclude": [
        "build",
        "lib",
        "manual",
        "node_modules",
        "scripts",
        "src/demo",
        "test",
        "src/lib/index.js"
    ],
    "require": [
        "@babel/register"
    ],
    "extension": [
        ".js"
    ],
    "cache": true,
    "check-coverage": true,
    "all": true,
    "sourceMap": false,
    "instrument": false
}